<html>
    <head>
        <title>WELCOME</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <style>
         /* body, html {
         height: 100%;
            margin: 0;
            }

        .bg {
        
        background-image: url("https://wallpaperaccess.com/full/2007739.jpg");
        
        height: 100%; 

        
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        } */
         

        </style>
            
    </head>
    
    <body>

        <div class="bg">
        <form action="#" method="post">
            {% csrf_token %}
            {% load static %}
                <div id="heading">
            <h1 id=title>Coders Voice!</h1>
            <p id="description" text color="">We value your feedback!</p>


            <div><br>
                <label id="Suggestions" >Survey-Question-1</label><br>
                <textarea  class="form-control" name="Survey_1" style=" min-width:200px; max-width:75%;min-height:40px;height:10%;width:70%;" ></textarea><br>
                <br>

                <label id="Suggestions">Survey-Question-2</label><br>
                <textarea  class="form-control" name="Survey_2" style=" min-width:200px; max-width:75%;min-height:40px;height:10%;width:70%;" ></textarea><br>
                <br>

                <label id="Suggestions">Survey-Question-3</label><br>
                <textarea  class="form-control" name="Survey_3" style=" min-width:200px; max-width:75%;min-height:40px;height:10%;width:70%;" ></textarea><br>
                <br>

                <label id="Suggestions">Survey-Question-4</label><br>
                <textarea  class="form-control" name="Survey_4" style=" min-width:200px; max-width:75%;min-height:40px;height:10%;width:70%;" ></textarea><br>
                <br>

                <label id="Suggestions">Survey-Question-5</label><br>
                <textarea  class="form-control" name="Survey_5" style=" min-width:200px; max-width:75%;min-height:40px;height:10%;width:70%;" ></textarea><br>
                <br>

                <label id="Suggestions">Survey-Question-6</label><br>
                <textarea  class="form-control" name="Survey_6" style=" min-width:200px; max-width:75%;min-height:40px;height:10%;width:70%;" ></textarea><br>
                <br>

                <label id="Suggestions">Survey-Question-7</label><br>
                <textarea  class="form-control" name="Survey_7" style=" min-width:200px; max-width:75%;min-height:40px;height:10%;width:70%;" ></textarea><br>
                <br>   


                
                
                <button type="submit"><b>submit</b></button><br>

            </div>
        </div>    
        </form>
        






    </body>
    
</html>